.children {
  grid-column: 1 / 4;

  &_grid {
    display: grid;
    grid-template-columns: 12% 1fr 12%;

    &_splitedCell {
      grid-column: 2 / 3;
    }
  }
}

.background {

  &_material {
    background: #EBEBEB;
  }
}

@media (max-width: 768px) {
  .children {
    &_grid {
      grid-template-columns: 4.8% 1fr 4.8%;
    }
  }
}

