.layout {
  display: grid;
  grid-template: 80px 1fr 100px / 12% 1fr 12%;
  //grid-template-columns: 12% 1fr 12%;
  //grid-template-rows: 80px 1fr 100px;
  grid-template-areas:
    ". header ."
    ". content ."
    ". footer .";

  //align-items: center;
  //justify-items: start;
  //place-items: center start;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 4.8% 1fr 4.8%;
    grid-template-rows: 80px 1fr 100px;
    //grid-template: 80px 1fr 100px / 12% 1fr 12%;
  }
}

@media (max-width: 576px) {
  .layout {
    grid-template: 104px 1fr 100px / 5.72% 1fr 5.72%;
  }
}

@media (max-width: 320px) {
  .layout {
    grid-template: 105px 1fr 148px / 4.7% 1fr 4.7%;
  }
}
